.container {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  border-left: #07ac82;
  border-right: #07ac82;
  border-width: 3px;
  border-style: dashed;
}

tr {
  width: max-content;
}

td {
  width: fit-content;
  padding: 5px;
}

.trHead {
  text-align: left;
}

.topMenu {
  text-align: center;
  padding: 5px;
}

.kirjalista {
  margin-left: auto;
  margin-right: auto;
}

.painikkeet {
  margin-left: 4px;
  margin-right: 4px;
}

.genreRivi {
  text-align: center;
  padding-top: 10px;
}

ul {
  padding-left: 10px;
  padding-right: 10px;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 3px;
  border-width: 2px;
  border-style: groove;
  border-radius: 2px;
  border-width: 2px;
  border-color: #70bac4;
  list-style: radial-gradient(#07ac82, #9296c4);
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 8px;
}

h3 {
  color: rgb(36, 36, 36);
}

h4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  margin-left: 3px;
  margin-bottom: 3px;
}

.success {
  margin-top: 10px;
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  margin-top: 10px;
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
